/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body{
    margin:0;
    text-align: center;
}

.header {
    background-image: url("images/reno.jpg");
    background-size: 100%;
    background-repeat:no-repeat;
    text-shadow: 0 0 1px white;
    text-align: center;
}

.activities {
    display:flex;
}

.activity {
    width: 33%;
}